<h1>Log In</h1>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<form method="post" action="/users/login">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" placeholder="Enter Username"/>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" placeholder="Enter Password"/>

  <button class="button" type="submit">Submit</button>

</form>
