<h1>Enter the Level you want to see</h1>

<form method="post" action="/books/filter/level">
  <label style="display: block;" for="level">Level:</label>
  <input type="text" name="level" />

  <button class="button" type="submit">Filter</button>
</form>
