<h1>This is the book show page</h1>

<h2><a href="/users/show">Home</a></h2>

<h3><%= @book.title %></h3>

<form action="/books/<%= @book.id %>/edit" method="get">
  <button type="submit">Edit Book</button>
</form>

<form action="/books/<%= @book.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Book</button>
</form>
