<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/boostrap.css" rel="stylesheet" />
    <link href="/stylesheets/boostrap-responsive.css" rel="stylesheet" />
    <title>Classroom Library</title>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
