<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Library</title>

    <style>
      body {
        background-image: url('/images/circles-light.png');
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/users/home">Classroom Library</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/users/home">Home</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Filter
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/books/filter_by_level" class="dropdown-item">Guided Reading Level</a></li>
              <li><a href="/books/filter_by_genre" class="dropdown-item">Genre</a></li>
            </ul>
          </li>

          <li><a href="/books/new">Add Book</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Users
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% @users = User.all.sort_by { |user| user.username } %>
              <% @users.each do |user| %>
                <li><a href="/users/<%= user.slug %>"><%= "#{user.username.capitalize}" %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav logout">
          <li><a href="/users/logout">Log Out</a></li>
        </ul>

      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>


  </body>

</html>
